---
title: "{{ title }}"
{% if subtitle -%}
    subtitle: "{{ subtitle }}"
{% endif -%}
author:
    - "{{ author }}"
date: last-modified
date-format: "DD-MMM-YYYY"
institute: NBIS
from: markdown+emoji
{% if csl -%}
  csl: {{ csl }}
{% endif -%}
{% if bibliography -%}
  bibliography: {{ bibliography }}
{% endif -%}

format:
  html:
    theme:
      - ../assets/css/custom.scss
    toc: true
    embed-resources: true
    date: last-modified
    date-format: "DD-MMM-YYYY"
    lightbox:
      match: auto
execute:
  echo: true
  warning: false
  cache: true
  include: true
  autodep: true
  eval: true
  error: true

opts:
  knitr:
    code-fold: true
    tidy: true
    fig-format: svg

  filters:
    - lightbox
    - fontawesome
---

# Project diary for {{ project_name }}

## Setup  {visibility="hidden" .unnumbered .unlisted}

```{r libs}
#| echo: false
#| eval: true
#| cache: FALSE
library(ggplot2)
library(viridis)
bw <- theme_bw(base_size=24) %+replace% theme(axis.text.x = element_text(angle = 45, hjust = 1, vjust = 1))
theme_set(bw)
knitr::knit_hooks$set(inline = function(x) {
                      prettyNum(x, big.mark=" ")
                  })
```
## {{ date }}

Initialized diary with `{{ project_name }} {{ args }}`.




{% if bibliography -%}
## Refs {% raw %}{.unnumbered .unlisted}{% endraw %}
::: {% raw %}{ #refs }{% endraw %}
:::
{% endif %}
