repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.9.0
    hooks:
      - id: reorder-python-imports
        args: [--application-directories=python, --unclassifiable-application-module=_tskit]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --py37-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.261"
    hooks:
      - id: ruff
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies: [black==22.12.0]
        language_version: python3
  - repo: https://github.com/snakemake/snakefmt
    rev: v0.8.4
    hooks:
      - id: snakefmt
  - repo: local
    hooks:
      - id: lint
        name: Snakemake lint
        entry: snakemake --lint text -s
        language: system
        files: ".*.smk$|.*Snakefile$"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.1
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.7.0
    hooks:
      - id: markdownlint-cli2
        files: \.(md|qmd)$
        types: [file]
        exclude: LICENSE.md
      - id: markdownlint-cli2-fix
        files: \.(md|qmd)$
        types: [file]
        exclude: LICENSE.md
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.3.2
    hooks:
      - id: style-files
        name: style-files
        description: style files with {styler}
        entry: Rscript inst/hooks/exported/style-files.R
        language: r
        files: '(\.[rR]profile|\.[rR]|\.[rR]md|\.[rR]nw|\.[qQ]md)$'
        exclude: 'renv/activate\.R'
        minimum_pre_commit_version: "2.13.0"
      - id: parsable-R
        name: parsable-R
        description: check if a .R file is parsable
        entry: Rscript inst/hooks/exported/parsable-R.R
        language: r
        files: '\.[rR](md)?$'
        minimum_pre_commit_version: "2.13.0"
      - id: lintr
        name: lintr
        description: check if a `.R` file is lint free (using {lintr})
        entry: Rscript inst/hooks/exported/lintr.R
        language: r
        files: '(\.[rR]profile|\.R|\.Rmd|\.Rnw|\.r|\.rmd|\.rnw)$'
        exclude: 'renv/activate\.R'
        minimum_pre_commit_version: "2.13.0"
