repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/snakemake/snakefmt
    rev: v0.11.0
    hooks:
      - id: snakefmt
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        files: \.(md|qmd)$
        types: [file]
        exclude: LICENSE.md
  - repo: local
    hooks:
      - id: lint
        name: Snakemake lint
        entry: snakemake --lint text -s
        language: system
        files: ".*.smk$|.*Snakefile$"
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--disable=fixme",
        ]
  # - repo: https://github.com/lorenzwalthert/precommit
  #   rev: v0.4.3
  #   hooks:
  #     - id: style-files
  #       name: style-files
  #       description: style files with {styler}
  #       entry: Rscript inst/hooks/exported/style-files.R
  #       language: r
  #       files: '(\.[rR]profile|\.[rR]|\.[rR]md|\.[rR]nw|\.[qQ]md)$'
  #       exclude: 'renv/activate\.R'
  #       minimum_pre_commit_version: "2.13.0"
  #     - id: parsable-R
  #       name: parsable-R
  #       description: check if a .R file is parsable
  #       entry: Rscript inst/hooks/exported/parsable-R.R
  #       language: r
  #       files: '\.[rR](md)?$'
  #       minimum_pre_commit_version: "2.13.0"
  #     - id: lintr
  #       name: lintr
  #       description: check if a `.R` file is lint free (using {lintr})
  #       entry: Rscript inst/hooks/exported/lintr.R
  #       language: r
  #       files: '(\.[rR]profile|\.R|\.Rmd|\.Rnw|\.r|\.rmd|\.rnw)$'
  #       exclude: 'renv/activate\.R'
  #       minimum_pre_commit_version: "2.13.0"
