import os

from nbis.config import load_config

ROOT_DIR = os.path.normpath(
    os.path.join(os.path.abspath(os.path.dirname(__file__)), os.pardir, os.pardir)
)

# Main config resides in {{ project_name }}.yaml
config = load_config(file=os.path.join(ROOT_DIR, "{{ project_name }}.yaml"))

SNAKEMAKE_ROOT = os.path.join(ROOT_DIR, "src", "snakemake")

# Schema files
CONFIGSCHEMA = os.path.join(ROOT_DIR, "schemas", "config.schema.yaml")
SAMPLESSCHEMA = os.path.join(ROOT_DIR, "schemas", "samples.schema.yaml")
