[project]
name = "{{ python_module }}"
description = "{{ description }}"
readme = "README.md"
# url = https://{{ project_name}}/
keywords = ["bioinformatics"]
{% if open_source_license -%}
    license: {text = "{{ open_source_license }}"}
{% endif -%}
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering :: Bio-Informatics"
]
dependencies = [
    'click>=8.0',
    "pypandoc>=1.15",
    "jinja2>=3.1.6",
    "toml>=0.10.2",
    "ruamel-yaml>=0.18.10",
    "jsonschema>=4.23.0",
]
dynamic = ["version"]

[dependency-groups]
dev = [
    "pylint>=3.3.6",
    "pyright>=1.1.398",
    "pytest>=8.3.5",
    "tox>=4.25.0",
]
lint = [
     "pytest>=8.3.5",
]

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.hooks.vcs]
version-file = "src/{{ python_module }}/_version.py"

[tool.hatch.build.targets.wheel]
packages = ["src/{{ python_module }}"]

[project.scripts]
{{ python_module }} = "{{ python_module }}.cli:cli"

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q --doctest-modules"
pythonpath = [
    "src",
]
testpaths = [
    "tests",
]
filterwarnings = [
    "ignore::DeprecationWarning",
]

[tool.basedpyright]
venvPath = ".pixi/envs"
venv = "dev"

[tool.tox]
env_list = ["py311", "py312", "py313"]
isolated_build = true


[tool.tox.env.test]
deps = [
    "pytest",
    "pytest-cov",
    "pip>=22.1.0",
    "wheel"
]
commands = [["pytest"]]


[tool.ruff]
target-version = "py312"
line-length = 88

[tool.ruff.format]
docstring-code-format=true

[tool.ruff.lint]
select = [
  "A",    # warn about shadowing built-ins
  "E",    # style stuff, whitespaces
  "F",    # important pyflakes lints
  "I",    # import sorting
  "N",    # naming
  "T100", # breakpoints
]
ignore = ["N806"]

[tool.ruff.lint.isort]
# so it knows to group first-party stuff last
known-first-party = ["{{ python_module }}"]

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64"]

[tool.pixi.environments]
default = { solve-group = "default" }
dev = { features = ["dev"], solve-group = "default" }
lint = { features = ["lint"], solve-group = "default" }
quarto = { features = ["quarto"], solve-group = "default" }

[tool.pixi.tasks]
pc = "pixi run lint"
preview = "pixi run qpreview"


[tool.pixi.tasks.sync-from-hpc]
args = [{ "arg" = "opts", default = "" }]
cmd = """
  bash -c 'ping -c1 -w3 -q "$(git remote get-url hpchost)" && rsync -av {{ opts }} \
  --include-from=configuration/rsyncfiles.txt --exclude='*' \
  "$(git remote get-url hpc)/" .;'
  """

[tool.pixi.tasks.sync-to-hpc]
args = [{ "arg" = "opts", default = "" }]
cmd = """
bash -c  'ping -c1 -w3 -q "$(git remote get-url hpchost)" && if ! git diff-index --name-only --quiet HEAD --; then rsync -avR {{ opts }} $(git diff-index --name-only HEAD)  $(git remote get-url hpc); fi'
"""

[tool.pixi.tasks.sync-webexport]
args = [{ "arg" = "opts", default = "" }]
cmd = """
  ping -c1 -w3 -q "$(git remote get-url hpchost)" && rsync -av {{ opts }} docs/_site/ \
  "$(git remote get-url webexport)/" ;
  """

[tool.pixi.feature.lint.tasks]
actionlint = { cmd = "actionlint", env = { SHELLCHECK_OPTS = "-e SC2086" } }
lint = { cmd = "pre-commit run --all-files --hook-stage=manual", description = "Run all linters and formatters on all code" }
pre-commit-install = "pre-commit install --install-hooks -t=pre-commit -t=pre-push"
pre-commit-install-minimal = "pre-commit install -t=pre-commit"
pre-commit-run = "pre-commit run --all-files"
ruff-format = "ruff format --force-exclude"
ruff-lint = "ruff check --fix --exit-non-zero-on-fix --force-exclude"
shell-format = "shfmt --write --indent=4 --simplify --binary-next-line"
toml-format = { cmd = "taplo fmt", env = { RUST_LOG = "warn" } }
toml-lint = "taplo lint --verbose **/pyproject.toml"
typecheck-python = "mypy"
typos = "typos --write-changes --force-exclude"

[tool.pixi.feature.quarto.tasks]
qpreview = "recrate quarto preview"

[tool.pixi.feature.lint.dependencies]
pre-commit = "*"
pre-commit-hooks = "*"
ruff = "*"
typos = "*"
actionlint = "*"
go-shfmt = "*"
taplo = "*"
pylint = ">=3.3.8,<4"
