<!-- markdownlint-disable -->

<!--
[![PyPI](https://img.shields.io/pypi/v/{{ repo_name }}.svg)](https://pypi.python.org/pypi/{{ repo_name }})
[![CI](https://github.com/NBISweden/{{ project_name }}/actions/workflows/ci.yml/badge.svg)](https://github.com/NBISweden/{{ project_name }}/actions/workflows/ci.yml)
[![BioConda](https://img.shields.io/badge/install%20with-bioconda-brightgreen.svg)](http://bioconda.github.io/recipes/{{ repo_name }}/README.html)
-->

<!-- markdownlint-enable -->

# {{ project_name }}

{{ description }}

Make sure to add a project configuration file

## Installation

    pixi init
    pixi r {{ project_name }}

## Documentation

- Project documentation: `docs/`
- Contributing / development setup: [`CONTRIBUTING.md`](CONTRIBUTING.md)
- Codebase overview: [`docs/architecture.md`](docs/architecture.md)
