<!-- markdownlint-disable -->

<!--
[![PyPI](https://img.shields.io/pypi/v/{{ repo_name }}.svg)](https://pypi.python.org/pypi/{{ repo_name }})
  -->

<!--
[![CI](https://github.com/NBISweden/{{ project_name }}/actions/workflows/ci.yml/badge.svg)](https://github.com/NBISweden/{{ project_name }}/actions/workflows/ci.yml)
  -->

<!--
[![BioConda](https://img.shields.io/badge/install%20with-bioconda-brightgreen.svg)](http://bioconda.github.io/recipes/{{ repo_name }}/README.html)
  -->

<!-- markdownlint-enable -->

# {{ project_name }}

{{ description }}

# Installation

This repo was initialized with nbis-admin version {{ version }}.
The repo has to be under source control, whereafter it can be
installed:

    git init
    git add -f .
    python -m pip install -e .

This will install the python module `{{ project_name }}`
which can be invoked as

    {{ project_name }}

## Project organization

<!-- markdownlint-disable -->

```text
{{ '%-40s%s' | format(project_directory + "/", "<- top-level project folder") }}
|
├── README.md
├── pyproject.toml
├── setup.cfg
└── src                                 <- source code
    └── {{ '%-32s%s' | format(project_name, "<- python module code") }}
        └── commands                    <- python module commands
```

<!-- markdownlint-enable -->
