---
title: "{{ title }}"
{% if subtitle -%}
  subtitle: "{{ subtitle }}"
{% endif -%}
author:
    - "{{ author }}"
date: "`r format(Sys.time(), '%d %B, %Y')`"
institute: NBIS
from: markdown+emoji
format:
  revealjs:
    theme: [white]
    {% if css -%}
    css: [ "{{ css | join('", "') }}" ]
    {% endif -%}
    self-contained: true
    toc: true
    toc-depth: 1
    slide-level: 2
    slide-number: true
    preview-links: true
    chalkboard: false
    footer: {{ footer }}
    logo: https://nbis.se/assets/img/logos/nbislogo-green.svg
    smaller: true
    highlight-style: gruvbox
    fig-height: 12
    fig-width: 10
{% if csl -%}
  csl: {{ csl }}
{% endif -%}
{% if bibliography -%}
  bibliography: {{ bibliography }}
{% endif -%}
execute:
  echo: true
  warning: false
  cache: true
  include: true
  autodep: true
  eval: true
  error: true
opts:
  knitr:
    code-fold: true
    tidy: true
    fig-format: svg
---

## Setup  {.unnumbered .unlisted}

```{r libs}
#| echo: false
#| eval: true
#| cache: FALSE
library(ggplot2)
library(viridis)
bw <- theme_bw(base_size=24) %+replace% theme(axis.text.x = element_text(angle = 45, hjust = 1, vjust = 1))
theme_set(bw)
knitr::knit_hooks$set(inline = function(x) {
                      prettyNum(x, big.mark=" ")
                  })
```

# Section 1


{% if bibliography -%}
## Refs {% raw %}{.unnumbered .unlisted}{% endraw %}
::: {% raw %}{ #refs }{% endraw %}
:::
{% endif %}
