# Main Snakefile
import re
import sys
from {{ project_name }} import config as cconf
from pathlib import Path
{% if validation -%}
  from snakemake.utils import validate
{% endif %}
import pandas as pd


##############################
# Configuration
##############################
configfile: Path("config/config.yaml")

{% if validation -%}
  validate(config, schema=cconf.CONFIGSCHEMA)
{% endif %}

samples = pd.read_table(config["samples"])
{% if validation -%}
  validate(samples, schema=cconf.SAMPLESSCHEMA)
{% endif %}

wildcard_constraints:
    data="data",
    interim="data/interim",
    reports="reports",
    sample=f"({'|'.join(samples.SM.tolist())})",


# Update ALL rule
# ALL = expand("{sample}", sample=samples.SM.tolist())
ALL = []

if config.get("__test__") is True:

    include: "rules/{{ subcommand }}-test-config.smk"


rule all:
    input:
        ALL,



{% if test %}
##############################
# TEST rules
##############################
include: "rules/test-setup.smk"
{% endif %}
