"""Snakemake configuration."""

from ruamel.yaml import YAML

from {{ project_name }}.cli import PKG_DIR
from {{ project_name }}.config import Schema

WORKFLOW_ROOT = PKG_DIR / "workflow"
SNAKEMAKE_ROOT = WORKFLOW_ROOT / "snakemake"


class SchemaFiles:  # pylint: disable=too-few-public-methods
    """SchemaFiles class"""

    CONFIGURATION_SCHEMA = WORKFLOW_ROOT / "schemas" / "config.schema.yaml"
    SAMPLES_SCHEMA = WORKFLOW_ROOT / "schemas" / "samples.schema.yaml"


def get_schema(schema="CONFIGURATION_SCHEMA"):
    """Get configuration schema."""
    schemafile = getattr(SchemaFiles, schema)
    with open(schemafile, encoding="utf-8") as file:
        schema = YAML().load(file)
    return Schema(schema)
