from pathlib import Path

from nbis.config import load_config
from nbis.config import Schema
from {{ project_name }}.cli import ROOT_DIR
from ruamel.yaml import YAML


# Main config resides in {{ project_name }}.yaml
config = load_config(file=ROOT_DIR / "{{ project_name }}.yaml")

SNAKEMAKE_ROOT = ROOT_DIR / "src" / "snakemake"


class SchemaFiles:
    CONFIGURATION_SCHEMA = ROOT_DIR / "schemas" / "config.schema.yaml"
    SAMPLES_SCHEMA = ROOT_DIR / "schemas" / "samples.schema.yaml"


def get_schema(schema="CONFIGURATION_SCHEMA"):
    schemafile = getattr(SchemaFiles, schema)
    with open(schemafile) as fh:
        schema = YAML().load(fh)
    return Schema(schema)

