import pandas as pd
from {{ project_name }}.config import SchemaFiles
from snakemake.utils import validate


configfile: Path("config/config.yaml")


validate(config, schema=SchemaFiles.CONFIGURATION_SCHEMA)
config["samples"] = "resources/.test/samples.tsv"
samples = pd.read_table(config["samples"])

validate(samples, schema=SchemaFiles.SAMPLES_SCHEMA)


include: "test-config.smk"

# Define main ALL target
ALL = expand()

rule all:
    input:
        ALL,

