

@main.command(context_settings={"ignore_unknown_options": True}, help="{{ command }}")
@profile_option(default="local")
@no_profile_option()
@jobs_option()
{% if test -%}
  @test_option()
{% endif -%}
@click.argument("snakemake_args", nargs=-1, type=click.UNPROCESSED)
def {{ command }}(profile, jobs{% if test %}, test{% endif %}, snakemake_args):
    """Command docstring"""
    smk_options = list(snakemake_args) + jobs + profile
    snakefile = config.SNAKEMAKE_ROOT / "commands" / "{{ group }}-{{ command }}.smk"
    wrappers.snakemake(options=" ".join(smk_options), snakefile=snakefile, targets="")
