"""Run snakemake workflows.

Main entry point to run snakemake workflows.
"""

import logging

import click
from nbis import wrappers
from nbis.cli import pass_environment
from nbis.snakemake import jobs_option
from nbis.snakemake import no_profile_option
from nbis.snakemake import profile_option
{% if test -%}
  from nbis.snakemake import test_option
{% endif %}
from {{ project_name }}.snakemake import config

__shortname__ = __name__.rsplit(".", maxsplit=1)[-1]


logger = logging.getLogger(__name__)


@click.group(help=__doc__, name=__shortname__)
@pass_environment
def main(env):
    """Main CLI entry point."""
    logger.debug("Running %s", __shortname__)
    logger.debug("Project home: %s", env.home)
