"""Run snakemake workflows.

Main entry point to run snakemake workflows.
"""
import logging
import os

import click

import nbis.wrappers as wrappers
from {{ project_name }} import config
from {{ project_name }}.cli import cli
from nbis.snakemake import get_profile
from nbis.snakemake import profile_opt
from nbis.snakemake import jobs_opt
{% if test -%}
  from nbis.snakemake import test_opt
{% endif -%}

__shortname__ = __name__.split(".")[-1]


logger = logging.getLogger(__name__)



@cli.group(help=__doc__, name=__shortname__)
@click.pass_context
def main(ctx):
    logger.debug(f"Running {__shortname__}")
