

@main.command(context_settings={"ignore_unknown_options": True}, help="{{ command }}")
@profile_option(default="local")
@no_profile_option()
@jobs_option()
@click.argument('snakemake_args', nargs=-1, type=click.UNPROCESSED)
@pass_environment
def {{ command }}(env, profile, no_profile, jobs, snakemake_args):
    """Quarto docstring"""
    import shutil
    options = list(snakemake_args) + jobs + profile
    if shutil.which("quarto") is None:
        options += ["--use-singularity"]
    snakefile = config.SNAKEMAKE_ROOT / "commands" / "{{ group }}-{{ command }}.smk"
    options.extend(["--directory", str(env.home)])
    if "QUARTO_IMAGE" not in os.environ and "QUARTO_IMAGE" in env.dotenv:
        os.environ["QUARTO_IMAGE"] = env.dotenv["QUARTO_IMAGE"]

    wrappers.snakemake(options=" ".join(options), snakefile=snakefile, targets="")
