"""{{ project_name }} tools and scripts.

Tools that also can be called as standalone scripts by adding prefix
'{{ project_name.replace("_", "-") }}-' to name in list below.

"""

import logging
import os

import click

{% set ProjectName = project_name.replace("_", " ").title().replace(" ", "") -%}
from {{ project_name }}.cli import CONTEXT_SETTINGS, {{ ProjectName }}Cli

__shortname__ = __name__.rsplit(".", maxsplit=1)[-1]


logger = logging.getLogger(__name__)


class {{ ProjectName }}ToolsCli({{ ProjectName }}Cli):
    """{{ project_name }} tools command line interface"""

    cmd_folder = os.path.abspath(
        os.path.join(os.path.dirname(__file__), os.pardir, "tools")
    )
    module = "{{ project_name }}.tools"


@click.command(
    cls={{ ProjectName }}ToolsCli,
    context_settings=CONTEXT_SETTINGS,
    help=__doc__,
    name="tools",
)
def main():
    """{{ project_name }} tools and scripts"""
    logger.info(__shortname__)
